.env
bin/
dist/
*.exe
*.out
*.test
.DS_Store
.idea/
.vscode/

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/.metadata
mobile/coverage/
mobile/generated_plugin_registrant.dart
mobile/.symlinks/
mobile/ios/Pods/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/ServiceDefinitions.json
mobile/ios/Runner/GeneratedPluginRegistrant.h
mobile/ios/Runner/GeneratedPluginRegistrant.m
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/GeneratedPluginRegistrant.java
mobile/android/captures/
mobile/*.iml
mobile/.flutter/
**/*.g.dart
**/*.freezed.dart
.mobile.env
